@import '../../assets/_mixins.scss';

.card {
    width: 450px;
    height: 278px;
    display: flex;
    margin: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

    @include respond(mobile) {
        max-width: 388px;
    }

    & .picture {
        width: 185px !important;
        height: 100%;
        margin-top: 1px;

        @include respond(mobile) {
            position: absolute;
            top: 6px;
            left: 10px;
            max-width: 60px;
            height: 90px;
        }
    }

    & .rating {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 34px;
        height: 34px;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;

        @include respond(mobile) {
            top: 5px;
        }

        & .rating__position {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            font-weight: 400px;
            color: black;
        }
    }

    & .card__body {
        width: 260px;
        padding: 15px;

        @include respond(mobile) {
            width: 360px;
            padding: 10px;
        }

        & .title {
            width: 132px;
            font-size: 20px;
            line-height: 28px;
            font-weight: 400px;

            @include respond(mobile) {
                margin-top: -5px;
                margin-left: 80px;
            }

            & .release {
                font-size: 12px;
                line-height: 22px;
                font-weight: 400px;
                color: grey;
                margin-top: 5px;
            }

            & .genres {
                display: inline-block;
                padding: 4px;
                margin-top: 10px;
                font-size: 12px;
                line-height: 14.52px;
                border: 1px solid rgba(217, 217, 217, 1);
                background-color: rgba(250, 250, 250, 1);
                margin-right: 8px;
                white-space: nowrap;
            }
        }

        & .overview {
            font-size: 12px;
            line-height: 22px;
            color: black;
            margin: 0;

            @include respond(mobile) {
                width: 360px;
                margin-left: 5px;
                margin-top: 25px;
            }
        }
    }

    & .stars {
        position: absolute;
        bottom: 10px;
        font-size: 16.5px;
        margin-left: 15px;

        @include respond(mobile) {
            right: 10px;
            bottom: 15px;
        }
    }
}
