.card {
    width: 450px;
    height: 278px;
    display: flex;
    margin: 20px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.picture {
    width: 185px !important;
}

.title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400px;
}

.release {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400px;
    color: grey;
}

.overview {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400px;
    color: black;
}
